{% extends "base.html" %}

{% block title %}{{ site_title | default('Portfolio') }}{% endblock %}

{% block content %}
{% for block in blocks %}
{% if block.type == 'hero' %}
{% include "blocks/hero.html" %}
{% elif block.type == 'project_grid' %}
{% include "blocks/project_grid.html" %}
{% elif block.type == 'text_block' %}
{% include "blocks/text_block.html" %}
{% elif block.type == 'video_embed' %}
{% include "blocks/video_embed.html" %}
{% elif block.type == 'image_banner' %}
{% include "blocks/image_banner.html" %}
{% elif block.type == 'two_column' %}
{% include "blocks/two_column.html" %}
{% elif block.type == 'custom_html' %}
{% include "blocks/custom_html.html" %}
{% endif %}
{% endfor %}
{% endblock %}